# Dataset

So I have been interning in the admissions department at my university. So there is this excel file that maintain which has the walk-in details of all the people who come to visit the university.

There are these headers in the file:
1. Date
2. Parent Name
3. Student Name
4. Course: The course that the student has enrolled in or wishes to enrol.
5. Grade: This basically shows the recent class that the student has passed, whether its 12th or he is a dropout (13th)
6. Contact Details
7. Email Id
8. City
9. Application Number
10. Status: The options in the status header are as follows: Form not initiated, Form initiated - test not taken, Form initiated - test taken, Offered, Offered - fee paid
11. Walkin: The number of people who have come to the university. 
12. Counsellor: Name of the person who has taken the counselling of the person.
13. Query: Query of the person
14. Campus Tour by: Campus tour given by whom
15. Walkin details: Walkin details by whom
16. Eligibility: To check if the person meets the eligibility criteria for the course.

## Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Cleaning & Transforming

In [2]:
df = pd.read_csv('../Downloads/2024 UG Admissions - 2024 Walk-ins (1).csv', skipinitialspace=True)

In [3]:
df.head()

,Unnamed: 0,Parent Name,Student Name,Course,Grade,Contact Details,E-mail ID,City,Application No,Status,Walk in,Counselor,Query,Campus Tour by,Walk-in Details By,Eligibility,Remarks
0,19-09-2023,Vivek,Krish,BMS,12,9834744207,krishrachh59@gmail.com,Pune,-,Form not initiated,walk in (1+2),Jayant Sir,"Campus visit ( Counselling, faculty interactio...",Shivani,NaN,NaN,NaN
1,21-09-2023,NaN,Maheep,Economics,11,8766291167,janpreetwadhwa@gmail.com,Mumbai,NaN,Form not initiated,walk in (1+2),Ankita,NaN,Adhitya Ram,NaN,NaN,NaN
2,25-09-2023,Nitin Kumar,Tiksha Adlakha,CSE,11,9015216127,sonia.nitin18@gmail.com,West Delhi,-,Form not initiated,Walk in (1+2),Anju,About the process,Astha,NaN,NaN,NaN
3,25-09-2023,Rahul Kumar,Aditya Kumar,CSE,12,9999783835,rahul2975@yahoo.com,Delhi,NaN,Form not initiated,Walk in (1+2),Sasank,Process criteria,Shivani,NaN,NaN,NaN
4,25-09-2023,NaN,Sahas Suri,Economics,12,9711182828,sahassuri@gmail.com,Greater Noida,-,Form not initiated,Walk in (1+2),Ankita,About the process,Shivani,NaN,NaN,NaN

In [4]:
df.rename(columns = {'Unnamed: 0': 'Date'}, inplace=True)

In [5]:
#date - maintaining consistency in format
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True).dt.strftime('%d/%m/%Y')

In [6]:
index = df[df['Date']=='01/08/2024'].index[0]

In [7]:
df = df[:index]

In [8]:
#fixing nan values
index_na = df[df['Date'].isna()].index
for ind in index_na:
    print(df.loc[ind-1]['Date'], df.loc[ind]['Date'])
    df.loc[ind]['Date'] = df.loc[ind-1]['Date']

09/07/2024 nan

In [9]:
df[df['Date'].isna()]

Empty DataFrame
Columns: [Date, Parent Name, Student Name, Course, Grade, Contact Details, E-mail ID, City, Application No, Status, Walk in, Counselor, Query, Campus Tour by, Walk-in Details By, Eligibility, Remarks]
Index: []

In [10]:
#course
df['Course'].value_counts()

CSE            939
BMS            299
ECE            203
Economics       87
Mechanical      79
Eco-Fin         78
Design          69
Bio-tech        59
IR              37
Chemical        34
Mathematics     29
Civil           23
Physics         16
-               11
Chemistry       11
Sociology       10
History          7
English          5
Eco              3
ASU              3
PHD              3
Design           3
English          1
B. Des           1
bms              1
IR               1
Eco-fin          1
PG               1
Name: Course, dtype: int64

In [11]:
#correcting the course names
df['Course'] = df['Course'].str.strip()
#btech
df['Course'][df['Course']=='CSE'] = 'BTech Computer Science Engineering'
df['Course'][df['Course']=='ECE'] = 'BTech Electrical & Computer Engineering'
df['Course'][df['Course']=='Mechanical'] = 'BTech Mechanical Engineering'
df['Course'][df['Course']=='Chemical'] = 'BTech Chemical Engineering'
df['Course'][df['Course']=='Civil'] = 'BTech Civil Engineering'
#bms
df['Course'][df['Course']=='BMS'] = 'Bachelor of Management Studies'
df['Course'][df['Course']=='bms'] = 'Bachelor of Management Studies'
df['Course'][df['Course']==' BMS'] = 'Bachelor of Management Studies'
#bsc
df['Course'][df['Course']=='Economics'] = 'BSc Economics'
df['Course'][df['Course']=='Eco'] = 'BSc Economics'
df['Course'][df['Course']=='Eco-Fin'] = 'BSc Economics & Finance'
df['Course'][df['Course']=='Eco-fin'] = 'BSc Economics & Finance'
df['Course'][df['Course']=='Bio-tech'] = 'BSc Biotechnology'
df['Course'][df['Course']=='Mathematics'] = 'BSc Mathematics'
df['Course'][df['Course']=='Physics'] = 'BSc Physics'
df['Course'][df['Course']=='Chemistry'] = 'BSc Chemistry'
#ba
df['Course'][df['Course']=='IR'] = 'BA International Relations'
df['Course'][df['Course']=='Sociology'] = 'BA Sociology'
df['Course'][df['Course']=='History'] = 'BA History'
df['Course'][df['Course']=='English'] = 'BA English'
#bdes
df['Course'][df['Course']=='Design'] = 'Bachelor of Design'
df['Course'][df['Course']=='B. Des'] = 'Bachelor of Design'
#nan
df['Course'][df['Course']=='-'] = np.nan

In [12]:
df = df[df['Course']!='PHD']
df = df[df['Course']!='PG']
df = df[df['Course']!='ASU']

In [13]:
df['Course'].value_counts()

BTech Computer Science Engineering         939
Bachelor of Management Studies             300
BTech Electrical & Computer Engineering    203
BSc Economics                               90
BTech Mechanical Engineering                79
BSc Economics & Finance                     79
Bachelor of Design                          73
BSc Biotechnology                           59
BA International Relations                  38
BTech Chemical Engineering                  34
BSc Mathematics                             29
BTech Civil Engineering                     23
BSc Physics                                 16
BSc Chemistry                               11
BA Sociology                                10
BA History                                   7
BA English                                   6
Name: Course, dtype: int64

In [14]:
#grade
df['Grade'].value_counts()

12                    1930
Drop Year               34
drop year                9
11                       5
Diploma                  1
as Cambridge level       1
Still in 12              1
Drop                     1
-                        1
UG                       1
Name: Grade, dtype: int64

In [15]:
df['Grade'][df['Grade']=='Drop Year'] = '13'
df['Grade'][df['Grade']=='drop year'] = '13'
df['Grade'][df['Grade']=='Drop'] = '13'
df['Grade'][df['Grade']=='UG'] = '13'
df['Grade'][df['Grade']=='-'] = '13'
df['Grade'][df['Grade']=='Still in 12'] = '12'
df['Grade'][df['Grade']=='Diploma'] = '12'
df['Grade'][df['Grade']=='as Cambridge level'] = '12'

In [16]:
#city
df['City'].value_counts()

Delhi                   333
Noida                   173
Ghaziabad               100
Greater Noida            86
Gurgaon                  61
                       ...
Ludhiana                  1
Bharatpur, Rajasthan      1
Lajpat Nagar, Delhi       1
Chennai, Tamil Nadu       1
DEHRADUN                  1
Name: City, Length: 429, dtype: int64

In [17]:
df['City'] = df['City'].str.title()

In [18]:
df['City'] = df['City'].astype(str)

In [19]:
df['City'] = df['City'].str.strip()

In [20]:
df['City'].value_counts()

Delhi            425
Noida            224
nan              144
Ghaziabad        143
Greater Noida    111
                ...
Erode              1
-                  1
Punchkula          1
Shahjahanpur       1
Uk                 1
Name: City, Length: 298, dtype: int64

In [21]:
s = set()
for i in range(df.shape[0]):
    city_name = df.iloc[i]['City']
    if ('Delhi' in city_name):
        s.add(city_name)

In [22]:
s

{'Delhi',
 'Delhi Ncr',
 'East Delhi',
 'Lajpat Nagar, Delhi',
 'Model Town Delhi',
 'New Delhi',
 'South Delhi',
 'West Delhi'}

In [23]:
df['City'][df['City']=='Delhi Ncr'] = 'Delhi'
df['City'][df['City']=='Delh I'] = 'Delhi'
df['City'][df['City']=='East Delhi'] = 'Delhi'
df['City'][df['City']=='Lajpat Nagar, Delhi'] = 'Delhi'
df['City'][df['City']=='Model Town Delhi'] = 'Delhi'
df['City'][df['City']=='New Delhi'] = 'Delhi'
df['City'][df['City']=='South Delhi'] = 'Delhi'
df['City'][df['City']=='West Delhi'] = 'Delhi'
df['City'][df['City']=='G Noida'] = 'Noida'
df['City'][df['City']=='Nioda'] = 'Noida'
df['City'][df['City']=='Nodia'] = 'Noida'
df['City'][df['City']=='G. Noida'] = 'Noida'
df['City'][df['City']=='G.Noida'] = 'Noida'
df['City'][df['City']=='Gr Noida'] = 'Noida'
df['City'][df['City']=='Greater Noida'] = 'Noida'
df['City'][df['City']=='Greaterr Noida'] = 'Noida'
df['City'][df['City']=='Ghazia'] = 'Ghaziabad'
df['City'][df['City']=='Ghazibad'] = 'Ghaziabad'
df['City'][df['City']=='Gaziabad'] = 'Ghaziabad'
df['City'][df['City']=='Gurugram'] = 'Gurgaon'
df['City'][df['City']=='Guargaon'] = 'Gurgaon'
df['City'][df['City']=='Gurugaon'] = 'Gurgaon'
df['City'][df['City']=='Gurgoan'] = 'Gurgaon'
df['City'][df['City']=='Gurgeon'] = 'Gurgaon'
df['City'][df['City']=='Merut'] = 'Meerut'
df['City'][df['City']=='Harayana'] = 'Haryana'
df['City'][df['City']=='Hayana'] = 'Haryana'
df['City'][df['City']=='Hydrabad'] = 'Hyderabad'
df['City'][df['City']=='Luknow'] = 'Lucknow'
df['City'][df['City']=='Bulandshahar'] = 'Bulandshahr'
df['City'][df['City']=='Banglalore'] = 'Bangalore'
df['City'][df['City']=='Banglore'] = 'Bangalore'

In [24]:
city_to_state = {
    'Delhi': 'Delhi',
    'Faridabad': 'Haryana',
    'Gurgaon': 'Haryana',
    'Noida': 'Uttar Pradesh',
    'Ghaziabad': 'Uttar Pradesh',
    'Haryana': 'Haryana',
    'Meerut': 'Uttar Pradesh',
    'Hyderabad': 'Telangana',
    'Chennai': 'Tamil Nadu',
    'Agra': 'Uttar Pradesh',
    'Jaipur': 'Rajasthan',
    'Kanpur': 'Uttar Pradesh',
    'Tamil Nadu': 'Tamil Nadu',
    'Up': 'Uttar Pradesh',
    'Aligarh': 'Uttar Pradesh',
    'Mumbai': 'Maharashtra',
    'Rajasthan': 'Rajasthan',
    'Bulandshahr': 'Uttar Pradesh',
    'Bangalore': 'Karnataka',
    'Lucknow': 'Uttar Pradesh',
    'Dadri': 'Uttar Pradesh',
    'Ludhiana': 'Punjab',
    'Chandigarh': 'Punjab',
    'Bhopal': 'Madhya Pradesh',
    'Pune': 'Maharashtra',
    'Muzaffarnagar': 'Uttar Pradesh',
    'Alwar': 'Rajasthan',
    'Bareilly': 'Uttar Pradesh',
    'Panipat': 'Haryana',
    'Dehradun': 'Uttarakhand',
    'Kolkata': 'West Bengal',
    'Rohtak': 'Haryana',
    'Mathura': 'Uttar Pradesh',
    'Haridwar': 'Uttar Pradesh',
    'Sonipat': 'Haryana',
    'Hisar': 'Haryana',
    'Khurja': 'Uttar Pradesh',
    'Nainital': 'Uttarakhand',
    'Ambala': 'Haryana',
    'Vaishali': 'Uttar Pradesh',
    'Mp': 'Madhya Pradesh',
    'Shimla': 'Himachal Pradesh',
    'Coimbatore': 'Tamil Nadu',
    'Kerala': 'Kerala',
    'Pritampura': 'Delhi',
    'Uttarakhand': 'Uttarakhand',
    'Gwalior': 'Madhya Pradesh',
    'Roorkee': 'Uttarakhand',
    'Visakhapatnam': 'Andhra Pradesh',
    'Odissa': 'Odisha'
}
df['State'] = df['City'].map(city_to_state)

In [25]:
df['State'].value_counts()

Uttar Pradesh       708
Delhi               475
Haryana             203
Tamil Nadu           44
Rajasthan            38
Telangana            32
Maharashtra          20
Punjab               18
Uttarakhand          17
Karnataka            16
Madhya Pradesh       13
West Bengal           6
Kerala                3
Himachal Pradesh      3
Andhra Pradesh        2
Odisha                2
Name: State, dtype: int64

In [26]:
df.head()

,Date,Parent Name,Student Name,Course,Grade,Contact Details,E-mail ID,City,Application No,Status,Walk in,Counselor,Query,Campus Tour by,Walk-in Details By,Eligibility,Remarks,State
0,19/09/2023,Vivek,Krish,Bachelor of Management Studies,12,9834744207,krishrachh59@gmail.com,Pune,-,Form not initiated,walk in (1+2),Jayant Sir,"Campus visit ( Counselling, faculty interactio...",Shivani,NaN,NaN,NaN,Maharashtra
1,21/09/2023,NaN,Maheep,BSc Economics,11,8766291167,janpreetwadhwa@gmail.com,Mumbai,NaN,Form not initiated,walk in (1+2),Ankita,NaN,Adhitya Ram,NaN,NaN,NaN,Maharashtra
2,25/09/2023,Nitin Kumar,Tiksha Adlakha,BTech Computer Science Engineering,11,9015216127,sonia.nitin18@gmail.com,Delhi,-,Form not initiated,Walk in (1+2),Anju,About the process,Astha,NaN,NaN,NaN,Delhi
3,25/09/2023,Rahul Kumar,Aditya Kumar,BTech Computer Science Engineering,12,9999783835,rahul2975@yahoo.com,Delhi,NaN,Form not initiated,Walk in (1+2),Sasank,Process criteria,Shivani,NaN,NaN,NaN,Delhi
4,25/09/2023,NaN,Sahas Suri,BSc Economics,12,9711182828,sahassuri@gmail.com,Noida,-,Form not initiated,Walk in (1+2),Ankita,About the process,Shivani,NaN,NaN,NaN,Uttar Pradesh

In [27]:
#status
df['Status'] = df['Status'].str.strip()

In [28]:
df['Status'] = df['Status'].str.title()

In [29]:
df['Status'][df['Status']=='Form intitiated- test taken'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Test'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Taking Test'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Test And Campus Tour'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Test Taken'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Taking Test'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Taken'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Test And Campus Visit'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Waiting For Result'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Form Intitiated- Test Taken'] = 'Form Initiated- Test Taken'
df['Status'][df['Status']=='Test Not Taken'] = 'Form Initiated- Test Not Taken'
df['Status'][df['Status']=='Admission Process'] = 'Form Initiated- Test Not Taken'
df['Status'][df['Status']=='Did Not Take Test'] = 'Form Initiated- Test Not Taken'
df['Status'][df['Status']=='Form Initiated'] = 'Form Initiated- Test Not Taken'
df['Status'][df['Status']=='Just Initiated The Form'] = 'Form Initiated- Test Not Taken'
df['Status'][df['Status']=='Offer'] = 'Offered - Fee Paid'
df['Status'][df['Status']=='Campus Tour'] = 'Offered - Fee Paid'
df['Status'][df['Status']=='Campou Tour'] = 'Offered - Fee Paid'
df['Status'][df['Status']=='-'] = 'Offered - Fee Paid'

df['Status'][df['Status']=='Offered'] = 'Offered - Fee Not Paid'
df['Status'][df['Status']=='Offered/ Fee Paid'] = 'Offered - Fee Paid'
df['Status'][df['Status']=='Form Initiated- Test Not Taken'] = 'Form Initiated - Test Not Taken'
df['Status'][df['Status']=='Form Initiated- Test Taken'] = 'Form Initiated - Test Taken'

In [30]:
#status
df['Status'].value_counts()

Offered - Fee Not Paid             622
Form Initiated - Test Not Taken    411
Form Not Initiated                 327
Form Initiated - Test Taken        318
Offered - Fee Paid                 255
Name: Status, dtype: int64

In [31]:
#Walk-in
df['Walk in'] = df['Walk in'].str.strip()
df['Walk in'] = df['Walk in'].str.title()
df['Walk in'].value_counts()[:20]
df['Walk in'] = df['Walk in'].str.extract(r'\+(\d+)')
# df['Walk in'].value_counts()[:20]

In [32]:
df['Walk in'].fillna(0, inplace=True)

In [33]:
df['Walk in'] = df['Walk in'].astype(int) + 1

In [34]:
head = df['Walk in'].value_counts().index
count = df['Walk in'].value_counts().values

In [35]:
total = 0
for i in range(len(head)):
    total+=(head[i]*count[i])
total

4892

## Analysis & Insights

In [36]:
df.head(10)

,Date,Parent Name,Student Name,Course,Grade,Contact Details,E-mail ID,City,Application No,Status,Walk in,Counselor,Query,Campus Tour by,Walk-in Details By,Eligibility,Remarks,State
0,19/09/2023,Vivek,Krish,Bachelor of Management Studies,12,9834744207,krishrachh59@gmail.com,Pune,-,Form Not Initiated,3,Jayant Sir,"Campus visit ( Counselling, faculty interactio...",Shivani,NaN,NaN,NaN,Maharashtra
1,21/09/2023,NaN,Maheep,BSc Economics,11,8766291167,janpreetwadhwa@gmail.com,Mumbai,NaN,Form Not Initiated,3,Ankita,NaN,Adhitya Ram,NaN,NaN,NaN,Maharashtra
2,25/09/2023,Nitin Kumar,Tiksha Adlakha,BTech Computer Science Engineering,11,9015216127,sonia.nitin18@gmail.com,Delhi,-,Form Not Initiated,3,Anju,About the process,Astha,NaN,NaN,NaN,Delhi
3,25/09/2023,Rahul Kumar,Aditya Kumar,BTech Computer Science Engineering,12,9999783835,rahul2975@yahoo.com,Delhi,NaN,Form Not Initiated,3,Sasank,Process criteria,Shivani,NaN,NaN,NaN,Delhi
4,25/09/2023,NaN,Sahas Suri,BSc Economics,12,9711182828,sahassuri@gmail.com,Noida,-,Form Not Initiated,3,Ankita,About the process,Shivani,NaN,NaN,NaN,Uttar Pradesh
5,25/09/2023,NaN,Rudraksh,BTech Computer Science Engineering,12,9999904444,rudraksh14@gmail.com,Noida,-,Form Not Initiated,3,Ankita,About the process,Adhitya Ram,NaN,NaN,NaN,Uttar Pradesh
6,25/09/2023,NaN,Rudra Pratap,BTech Computer Science Engineering,12,9810250614,NaN,Gurgaon,-,Form Not Initiated,1,Ankita,NaN,Adhitya Ram,NaN,NaN,NaN,Haryana
7,25/09/2023,NaN,Kimaya Kashyap,Bachelor of Design,12,9650995137,seujpratim@gmail.com,Noida,NaN,Form Not Initiated,1,Anju Ma'am,Process,Shivani,NaN,NaN,NaN,Uttar Pradesh
8,17/11/2023,Manas Das,Ainesh,BTech Mechanical Engineering,12,9311773657,ainesh.das12@gmail.com,Delhi,-,Form Not Initiated,3,Adhitya Ram,"Campus visit ( Counselling,campus tour)",Adhitya Ram,NaN,NaN,NaN,Delhi
9,17/11/2023,Amit,Aditya,BTech Computer Science Engineering,13,9818636269,Amitbhanot@reddifmail.com,Delhi,NaN,Form Not Initiated,1,NaN,NaN,Shivani,NaN,NaN,NaN,Delhi

In [41]:
df['month'] = df['month'].astype(str)

In [42]:
#date-wise / month-wise walkins
df['month'] = df['Date'].dt.to_period('M')
df['month'].value_counts()

2024-05    727
2024-06    406
2024-04    345
2024-07    276
2024-03    151
2024-02     57
2024-01     21
2023-12     15
2044-07     13
2023-09      8
2023-11      4
Freq: M, Name: month, dtype: int64

In [55]:
df = df[df['month']!='2025-02']
df = df[df['month']!='2025-03']
df = df[df['month']!='2025-04']
df = df[df['month']!='2024-08']
df = df[df['month']!='2026-04']
df.loc[df['month'] == '2024-12', 'month'] = '2023-12'
df.loc[df['month'] == '2044-12', 'month'] = '2024-07'

In [56]:
#month-wise walkins
df['month'].value_counts()

2024-05    727
2024-06    406
2024-04    345
2024-07    276
2024-03    151
2024-02     57
2024-01     21
2023-12     15
2044-07     13
2023-09      8
2023-11      4
Freq: M, Name: month, dtype: int64

In [49]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [72]:
#application status
df['Status'].value_counts()

Offered - Fee Not Paid             622
Form Initiated - Test Not Taken    408
Form Not Initiated                 326
Form Initiated - Test Taken        317
Offered - Fee Paid                 255
Name: Status, dtype: int64

In [73]:
#course popularity
df['Course'].value_counts()

BTech Computer Science Engineering         934
Bachelor of Management Studies             300
BTech Electrical & Computer Engineering    203
BSc Economics                               90
BTech Mechanical Engineering                79
BSc Economics & Finance                     79
Bachelor of Design                          73
BSc Biotechnology                           59
BA International Relations                  38
BTech Chemical Engineering                  34
BSc Mathematics                             29
BTech Civil Engineering                     23
BSc Physics                                 16
BSc Chemistry                               11
BA Sociology                                10
BA History                                   7
BA English                                   6
Name: Course, dtype: int64

In [74]:
#class currently in 
df['Grade'].value_counts()

12    1928
13      46
11       5
Name: Grade, dtype: int64

In [75]:
#geographical insights - state wise
df['State'].value_counts()

Uttar Pradesh       708
Delhi               474
Haryana             202
Tamil Nadu           44
Rajasthan            38
Telangana            32
Maharashtra          20
Punjab               18
Uttarakhand          17
Karnataka            16
Madhya Pradesh       13
West Bengal           6
Kerala                3
Himachal Pradesh      3
Andhra Pradesh        2
Odisha                2
Name: State, dtype: int64

In [76]:
#Walk-in Group Size
df['Walk in'].value_counts()

3    614
1    610
2    437
4    285
5     53
6     19
7      5
Name: Walk in, dtype: int64

In [77]:
df.to_excel('final.xlsx', index = False)